---
layout: default
title: Team
---
<div class="teamplayers max-width-large text-center">
{% for membre in site.categories.equipes %}
<article class="teamplayer">
	<div style="background-image:url({% if membre.photo %}{{ membre.photo }}{% else %}{% endif %});" class="teamplayer-image"></div>
	<h1 class="specialfont teamplayer-name">
		<a class="teamplayer-global-link" href="{{ site.baseurl }}{{ membre.url }}">{{membre.prenom}} <span>{{membre.nom}}</span></a>
	</h1>
	<div class="teamplayer-date">Chez ITK depuis le {{membre.date | date: "%d/%m/%Y"}}</div>


		<div class="teamplayer-projects">
			Projets
			<div class="tags">
				{% for projet in site.categories.projets %}
					{% if projet.equipe contains membre.prenom %}
						<a href="{{site.baseurl}}{{projet.url}}">{{projet.titre}}</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="teamplayer-technos">
			Technos
			<div class="tags">

				{% for projet in site.categories.projets %}
					{% if projet.equipe contains membre.prenom %}
						{% for tag in projet.tags %}
							<a href="{{ site.baseurl }}/projets.html#{{tag}}" tag="{{tag}}">{{ tag }}</a>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
		</div>


	<div class="teamplayer-contenu">
		{{membre.bio}}
		{% if membre.blog %}<br/><br/><a class="teamplayer-persolink" href="{{membre.blog}}">{{membre.blog}}</a>{% endif %}
	</div>
	<div class="teamplayer-resals">
		{% if membre.github %}<a href="{{membre.github}}"><img src="{{site.baseurl}}/images/equipes/github.png" title="Github" alt="Github" /></a>{% endif %}
		{% if membre.googleplus %}<a href="{{membre.googleplus}}"><img src="{{site.baseurl}}/images/equipes/googleplus.png" title="Google+" alt="Google+" /></a>{% endif %}
		{% if membre.linkedin %}<a href="{{membre.linkedin}}"><img src="{{site.baseurl}}/images/equipes/linkedin.png" title="Linked In" alt="Linked In" /></a>{% endif %}
		{% if membre.viadeo %}<a href="{{membre.viadeo}}"><img src="{{site.baseurl}}/images/equipes/viadeo.png" title="Viadeo" alt="Viadeo" /></a>{% endif %}
		{% if membre.twitter %}<a href="{{membre.twitter}}"><img src="{{site.baseurl}}/images/equipes/twitter.png" title="Twitter" alt="Twitter" /></a>{% endif %}
		{% if membre.facebook %}<a href="{{membre.facebook}}"><img src="{{site.baseurl}}/images/equipes/facebook.png" title="Facebook" alt="Facebook" /></a>{% endif %}
	</div>

</article>
{% endfor %}

</div>