---
layout: default
title: Galerie
---

{% for galerie in site.categories.galeries %}
<div class="bg-white galerie">
	<h1 class="specialfont-bold text-center">Fond d'écrans Officiels</h1>
	<div class="images-gallery text-center max-width">
		{% for image in galerie.officiel %}
			<div class="imgThumbnail" style="background-image:url('{{site.baseurl}}/{{image}}');" data-imagePath="{{site.baseurl}}/{{image}}" ></div>
		{% endfor %}
	</div>
</div>
<div class="galerie">
	<h1 class="specialfont-bold text-center">Fan Art</h1>
	<div class="images-gallery text-center max-width">
		{% for image in galerie.fanart %}
			<div class="imgThumbnail" style="background-image:url('{{site.baseurl}}/{{image}}');" data-imagePath="{{site.baseurl}}/{{image}}" ></div>
		{% endfor %}
	</div>
</div>
<div class="bg-white galerie">
	<h1 class="specialfont-bold text-center">Photos des H-Days</h1>
	<div class="images-gallery text-center max-width">
		{% for image in galerie.photos %}
			<div class="imgThumbnail" style="background-image:url('{{site.baseurl}}/{{image}}');" data-imagePath="{{site.baseurl}}/{{image}}" ></div>
		{% endfor %}
	</div>
</div>
<div id="popup-masque"></div>
{% endfor %}

