---
layout: default
title: Galerie
---

{% for galerie in site.categories.galeries %}
	<h1 class="titre-rose specialfont text-center">Officiel</h1>
	<div class="images-projet text-center">
		{% for image in galerie.officiel %}
			<div href="{{site.baseurl}}/{{image}}" style="background-image:url('{{site.baseurl}}/{{image}}');" data-imageNum="{{image}}" ></div>
		{% endfor %}
	</diV>
	<h1 class="titre-rose specialfont text-center">Fan Art</h1>
	<div class="images-projet text-center">
		{% for image in galerie.fanart %}
			<div href="{{site.baseurl}}/{{image}}" style="background-image:url('{{site.baseurl}}/{{image}}');" data-imageNum="{{image}}" ></div>
		{% endfor %}
	</diV>
	<h1 class="titre-rose specialfont text-center">Photos</h1>
	<div class="images-projet text-center">
		{% for image in galerie.photos %}
			<div href="{{site.baseurl}}/{{image}}" style="background-image:url('{{site.baseurl}}/{{image}}');" data-imageNum="{{image}}" ></div>
		{% endfor %}
	</diV>

	<div class="popup-masque">
		{% for image in galerie.officiel %}
			<img src="{{site.baseurl}}/{{image}}" alt="" data-imageNum="{{image}}" />
		{% endfor %}
		{% for image in galerie.fanart %}
			<img src="{{site.baseurl}}/{{image}}" alt="" data-imageNum="{{image}}" />
		{% endfor %}
		{% for image in galerie.photos %}
			<img src="{{site.baseurl}}/{{image}}" alt="" data-imageNum="{{image}}" />
		{% endfor %}
	</div>
{% endfor %}



<!--


<div class="images-projet text-center">
	<a href="{{site.baseurl}}/images/galerie/fanart/hday_bg.jpg" style="background-image:url('{{site.baseurl}}/images/galerie/fanart/hday_bg.jpg');" alt="" /></a>

</diV>
<h1 class="titre-rose specialfont text-center">Fan Art</h1>
<div class="images-projet text-center">
	<a href="{{site.baseurl}}/images/galerie/fanart/hday_bg.jpg" style="background-image:url('{{site.baseurl}}/images/galerie/fanart/hday_bg.jpg');" alt="" /></a>
</diV>
<h1 class="titre-rose specialfont text-center">Photos</h1>
<div class="images-projet text-center">
	<a href="{{site.baseurl}}/images/galerie/fanart/hday_bg.jpg" style="background-image:url('{{site.baseurl}}/images/galerie/fanart/hday_bg.jpg');" alt="" /></a>
</diV>

-->