---
layout: default
title: Projets
---

{% for post in site.categories.projets %}
<a class="tickets-global-link" href="{{ post.url }}">
<article class="tickets">
	<img src="{{ post.images[0] }}" alt="" />
	<div class="date">{% for date in post.dates %}{{ date }} {% endfor %}</div>
	<h1 class="titre-blanc specialfont">{{ post.titre }}</h1>
	<div class="tags">
		{% for techno in post.technos %}
			<div>{{ techno }}</div>
		{% endfor %}
	</div>
	<div class="contenu">{{ post.description }}</div>
	{% for membre in post.equipe %}
		<a class="tickets-global-link" href="{{ site.baseurl }}/membres.html#{{membre}}">{{membre}}</a>
	{% endfor %}
</article>
</a>
{% endfor %}
