---
layout: default
title: Projets
---

All tags

{% for post in site.categories.projets %}

{% endfor %}

{% for post in site.categories.projets %}
<article class="tickets" hidden=true>
	<img src="{{ post.images[0] }}" alt="" />
	<div class="date">{% for date in post.dates %}{{ date }} {% endfor %}</div>
	<h1 class="titre-blanc specialfont"><a class="tickets tickets-global-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.titre }}</a></h1>
	<div class="tags">
		{% for techno in post.technos %}
			<a tag="{{techno}}">{{ techno }}</a>
		{% endfor %}
	</div>
	<div class="contenu">{{ post.description }}<br /><br />
		{% for membre in post.equipe %}
			<a class="tickets-global-link" href="{{ site.baseurl }}/membres.html#{{membre}}">{{membre}}</a>
		{% endfor %}
	</div>
</article>
{% endfor %}
