---
layout: default
title: H-Days
---


{% for hd in site.categories.hday %}
	<div class="timeline-blocks">
		<div class="timeline-block-left">
			<div class="timeline-date">{{ hd.date | date_to_string }}</div>
			<h1 class="specialfont timeline-titre">{{ hd.title }}</h1>
		</div>
		<div class="timeline-block-right">
			<div class="tags timeline-projets">
			{% for projet in site.categories.projets %}
				{% if hd.projets contains projet.nom_unique %}
					<a href="{{site.baseurl}}{{ projet.url }}">
						{{ projet.titre }}
					</a><br />
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}
