---
layout: default
title: H-Days
---

<div class="timeline-block timeline-block-empty"></div>
{% for hd in site.categories.hday %}
	<div class="timeline-block">
		<div class="timeline-date">{{ hd.date | date_to_string }}<img src="{{site.baseurl}}/images/icon.png"></div>
		<h1 class="specialfont timeline-titre">{{ hd.title }}<h1>
		{% for projet in site.categories.projets %}
			{% if hd.projets contains projet.nom_unique %}
				<a href="{{ projet.url }}" class="timeline-projets tickets-global-link">
					{{ projet.titre }}
				</a>
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}
<div class="timeline-block timeline-block-empty"></div>
