/*------------------------------------*\
    RESET
\*------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}


/*------------------------------------*\
    COLORS
  Rose #e679a2
\*------------------------------------*/


/*------------------------------------*\
    GLOBAL
\*------------------------------------*/

a {
  color: white;
}

@font-face {
    font-family: 'alex_brushregular';
    src: url('font/alexbrush-regular-webfont.eot');
    src: url('font/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/alexbrush-regular-webfont.woff') format('woff'),
         url('font/alexbrush-regular-webfont.ttf') format('truetype'),
         url('font/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.specialfont{font-family: 'alex_brushregular',sans-serif;}

.text-center{text-align:center;}

.link,.link:visited{color:#fff;}
.link:hover,.link:focus{text-decoration:none;color:#e679a2;}


html{
    height: 100%;
}

body{
  height:100%;
  background:#444;
  font-family: sans-serif;
  color:#fff;
}

#container{
  position:relative;
  height:auto;
  min-height: 100%;
}


.titre-rose{
  color:#e679a2;
  font-size:3em;
  padding:40px 0;
}


.max-width{
  width:90%;
  max-width:950px;
  margin:0 auto;
  position:relative;
}



/*------------------------------------*\
    HEADER
\*------------------------------------*/


.header{
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #444;
  z-index: 999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.logo{
  padding:20px;
}

#countdown-header{
  color: #E679A2;
  font-size: 0.9em;
  left: 55%;
  position: absolute;
  top: 170px;
  z-index: 888;
  letter-spacing: 0.1em;
}

/*------------------------------------*\
    HEADER NAV FIXED
\*------------------------------------*/

.header-fixed{
  position: fixed;
  top: -220px;
}

#logosmall{
  opacity:0;
  position:absolute;
  top:220px;
  left:50%;
  margin-left:-500px;
  transition : opacity 800ms;
}


/*------------------------------------*\
    SECTION
\*------------------------------------*/


.main-section{
  padding:360px 0 100px;
}
.main-section-timeline{
  padding:300px 0 0;
}

.quote{
  background: none repeat scroll 0 0 #666666;
  border-left: 10px solid #888888;
  font-size: 1.6em;
  padding: 20px;
  }


/*------------------------------------*\
    FOOTER
\*------------------------------------*/


.footer{
    position: absolute;
    bottom: 0;
    right:0;
    width:100%;
    z-index:50;
    font-size: 0.6em;
    padding: 15px 0;
    text-align: center;
    opacity: 0.5;
    transition: opacity 200ms;
}
  .footer:hover, .footer:focus{
    opacity:1;
  }


/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/



.nav{
  padding: 25px 0;
}
  #navigation li{
    display:inline-block;
    margin:0 30px;
    font-size: 0.9em;
  }
    #navigation li a{
      text-decoration:none;
      display:block;
      padding:10px 0;
      color:#aaa;
      transition:color 200ms;
    }
    #navigation li a.active{
      color:#e679a2;
      border-bottom: 2px solid #E679A2;
    }
    #navigation li a:hover,#navigation li a:focus{
      color:#444;
    }

nav select{
  display:none;
  padding:6px 16px;
  margin:5px;
  font-size:1.4em;
}


/*------------------------------------*\
    PRESENTATION
\*------------------------------------*/

.regles{
  line-height: 3em;
}
.regles span{
  background: none repeat scroll 0 0 #E679A2;
  border-radius: 50% 50% 50% 50%;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0 10px;
  text-align: center;
  width: 30px;
}


/*------------------------------------*\
    PROJETS
\*------------------------------------*/

.projet-description{
  font-size: 0.9em;
}

.tickets-global-link{
  text-decoration: none;
  color: #FFFFFF;
  transition:color 200ms;
}
  .tickets-global-link:hover{
    color: #e679a2;
  }

.tickets {
  background: #555;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 40px;
  margin: 20px 0;
  position:relative;
}
  .date {
    color: #AAAAAA;
    float: right;
    font-size: 0.8em;
    line-height: 1.4em;
  }

  .titre-blanc{
    font-size: 3em;
  }

  .contenu {
    line-height: 1.5em;
    padding: 10px 100px 10px 0;
  }

  .tags, .membres{
    margin: 5px 0;
    font-size: 0.8em;
  }

    .tags a, .membres a{
      background: #333333;
      border: 1px solid #222222;
      border-radius: 2px 2px 0 0;
      margin: 2px 0;
      padding: 2px 5px;
      display: inline-block;
      transition:border-color 200ms;
      text-decoration: none;
      color: #FFFFFF;
    }
    .tags a:hover, .membres a:hover{
      border: 1px solid #FFF;
    }
    .tags img, .membres img{
      vertical-align: middle;
      padding-right: 5px;
    }
    .resals{
      padding: 20px 160px;
    }

  .tickets .image-tickets {
    float: left;
    margin: 0 40px 0 0;
    width: 120px;
    border-radius: 2px;
  }

  .tickets .titre-blanc, .tickets .contenu, .tickets .tags, .tickets .membres{
    padding-left: 160px;
  }

#tagFilterSentence{
  color: #aaa;
  font-size: 0.9em;
}
  #tagFilterSentence a{
      background: #333333;
      border: 1px solid #222222;
      border-radius: 2px 2px 0 0;
      margin: 2px 0;
      padding: 2px 5px;
      display: inline-block;
      transition:border-color 200ms,color 200ms;
      text-decoration: none;
      color: #aaa;
  }
  #tagFilterSentence a:hover{
      border: 1px solid #FFF;
      color: #fff;
  }
  #tagFilterSentence #tagFilterSpan{
    color: #fff;
    padding: 0 10px 0 0;
  }


/*------------------------------------*\
    PROJETS-DETAIL
\*------------------------------------*/

.images-projet{
  padding:50px 0;
}
.images-projet div{
  width: 100px;
  height: 100px;
  margin:10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-color: #333333;
  border: 1px solid #222222;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition:border-color 200ms, background-color 200ms;
  cursor: pointer;
}
.images-projet div:hover,
.images-projet div:focus{
  border: 1px solid #fff;
}
.images-projet div:before{
  content: url("http://itkweb.github.io/site-h-day/images/unicorn-anime.gif");
  position: absolute;
  margin: auto;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  width: 20px;
  height: 20px;
  z-index: -1;
}
.projet-detail-description{
  font-style: italic;
  padding: 10px 0 30px;
  color:#AAA;
  font-size: 0.9em;
}

.popup-masque{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0,0,0,0.8);
  display:none;
  z-index: 9999;
}
.popup-masque img{
  max-width: 80%;
  max-height: 80%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  position: absolute;
  display:none;
}


/*------------------------------------*\
    TIMELINE
\*------------------------------------*/


.timeline-block {
    border-left: 1px solid #AAAAAA;
    margin: 0 0 0 200px;
    padding: 0 40px 90px;
    position: relative;
}
.timeline-block-empty{
    padding: 40px;
}

.timeline-date {
    left: -200px;
    position: absolute;
    text-align: right;
    top: 30px;
    width: 213px;
    font-size: 0.9em;
    color:#AAA;
}
.timeline-date img{
    padding: 0 0 0 6px;
    vertical-align: middle;
    background: #444;
}
.timeline-titre {
    font-size: 3em;
}

.timeline-projets{
  padding: 0;
}


/*------------------------------------*\
    EQUIPE
\*------------------------------------*/

/*------------------------------------*\
    EQUIPE-DETAIL
\*------------------------------------*/

.img-profil{
  width:100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 0 20px;
  display: inline-block;
  background-position: center;
}


  .date-profil {
    color: #AAAAAA;
    font-size: 0.8em;
    line-height: 1.4em;
  }

  .contenu-profil{
    line-height: 1.5em;
    padding: 20px;
    background: none repeat scroll 0 0 #555555;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 60px 80px;
    position:relative;
  }

/*------------------------------------*\
    TUTOS
\*------------------------------------*/

.code {
  line-height: 1;
  border: 1px solid #eee;
  margin: 1em auto;
  padding: 1em;
  border-radius: 0.3em;
  max-width: 650px;
  text-align: left;
}
.img-large {
  max-width: 650px;
  padding: 5px;
  border: 1px solid #ccc;
}