<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>H-Day {{ page.title }}</title>
    <meta name="author" content="iTK" />
    <meta content="initial-scale=1.0" name="viewport">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
    <!--[if lt IE 9]><script src="javascripts/html5shiv.js"></script><![endif]-->
  </head>
  <body>
    <div id="container">
    <header class="text-center">
      <a href="index.html"><img src="images/h-day-logo.png" alt="iTK's HACKING DAY" class="logo"></a>
      <nav>
        <ul id="navigation">
          <li><a href="index.html" {% if page.url contains "index.html" %}class="active"{% endif %}>Accueil</a></li>
          <li><a href="presentation.html" {% if page.url contains "presentation.html" %}class="active"{% endif %}>Présentation</a></li>
          <li><a href="projets.html" {% if page.url contains "projets.html" %}class="active"{% endif %}>Projets</a></li>
          <li><a href="hdays.html" {% if page.url contains "hdays.html" %}class="active"{% endif %}>H-days</a></li>
          <li><a href="galerie.html" {% if page.url contains "galerie.html" %}class="active"{% endif %}>Galeries</a></li>
        </ul>
      </nav>
    </header>
    {{ content }}
    <footer class="footer">Copyright 2013 - Made by the <a href="http://www.itkweb.com" class="link">ITK team</a>
    </footer>
  </div>
  </body>
</html>