<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>H-Day {{ page.title }}</title>
    <meta name="author" content="iTK">
    <meta content="initial-scale=1.0" name="viewport">
    <link rel="icon" type="image/png" href="images/icon.png">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/stylesheet.css">    
    <!--[if lt IE 9]><script src="{{site.baseurl}}/javascripts/html5shiv.js" /></script><![endif]-->
    <script src="{{site.baseurl}}/javascripts/ki.min.js"></script> 
    <script src="{{site.baseurl}}/javascripts/main.js"></script> 
  </head>
  <body>
    <div id="container">
    <header id="header" class="header text-center">
      <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/h-day-logo.png" alt="iTK's HACKING DAY" class="logo"></a>
      <div id="countdown-header"></div>
      <a href="{{site.baseurl}}/index.html"><img id="logosmall" src="{{site.baseurl}}/images/h-day-logo-small.png" alt="iTK's HACKING DAY" class="logo"></a>
      <nav class="nav">
        <ul id="navigation">
          <li><a href="{{site.baseurl}}/index.html" {% if page.url contains "index.html" %}class="active"{% endif %}>Le H-Day</a></li>
          <li><a href="{{site.baseurl}}/projets.html" {% if page.url contains "projets.html" %}class="active"{% endif %}>Projets</a></li>
          <li><a href="{{site.baseurl}}/timeline.html" {% if page.url contains "timeline.html" %}class="active"{% endif %}>Timeline</a></li>
          <li><a href="{{site.baseurl}}/equipe.html" {% if page.url contains "equipe.html" %}class="active"{% endif %}>Equipe</a></li>
          <li><a href="{{site.baseurl}}/galerie.html" {% if page.url contains "galerie.html" %}class="active"{% endif %}>Galerie</a></li>
        </ul>
      </nav>
    </header>
<section class="main-section max-width">
    {{ content }}
</section>
    <footer class="footer">Copyright 2013 - Made by the <a href="http://www.itkweb.com" class="link">ITK team</a>
    </footer>
  </div>
  </body>
</html>