---
layout: default
---

<div class="profil text-center bg-white">
	<div class="max-width">
		<div style="background-image:url({% if page.photo %}{{ page.photo }}{% else %}{% endif %});" class="teamplayer-image"></div>
		<h1 class="bg-white text-center">{{page.prenom}} {{page.nom}}</h1>
		<div class="teamplayer-date">Chez ITK depuis le {{page.date | date: "%d/%m/%Y"}}</div>
		{% if page.github or page.googleplus or page.linkedin or page.viadeo or page.twitter or page.facebook %}
			<div class="resals">
				{% if page.github %}<a href="{{page.github}}"><img src="{{site.baseurl}}/images/equipes/github.png" /></a>{% endif %}
				{% if page.googleplus %}<a href="{{page.googleplus}}"><img src="{{site.baseurl}}/images/equipes/googleplus.png" /></a>{% endif %}
				{% if page.linkedin %}<a href="{{page.linkedin}}"><img src="{{site.baseurl}}/images/equipes/linkedin.png" /></a>{% endif %}
				{% if page.viadeo %}<a href="{{page.viadeo}}"><img src="{{site.baseurl}}/images/equipes/viadeo.png" /></a>{% endif %}
				{% if page.twitter %}<a href="{{page.twitter}}"><img src="{{site.baseurl}}/images/equipes/twitter.png" /></a>{% endif %}
				{% if page.facebook %}<a href="{{page.facebook}}"><img src="{{site.baseurl}}/images/equipes/facebook.png" /></a>{% endif %}
			</div>
		{% endif %}
		<div class="tags">
			Projets : 
			{% for projet in site.categories.projets %}
				{% if projet.equipe contains page.prenom %}
					<a href="{{site.baseurl}}{{projet.url}}">{{projet.titre}}</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="tags">
			Technos : 
			{% for projet in site.categories.projets %}
				{% if projet.equipe contains page.prenom %}
					{% for tag in projet.tags %}
						<a href="{{ site.baseurl }}/projets.html#{{tag}}" tag="{{tag}}">{{ tag }}</a>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="profil-bio">
			{{page.bio}}
		</div>
		{% if page.blog %}
			<br /><br />
			<a class="tickets-global-link" href="{{page.blog}}">{{page.blog}}</a>
		{% endif %}
	</div>
</div>