---
layout: default
---

<div class="date">{% for date in page.dates %}{{ date }}<br /> {% endfor %}</div>
<h1 class="specialfont titre-blanc">{{ page.titre }} {%if page.urlSources%}<a href="{{page.urlSources}}" target="_blank"><img src="{{site.baseurl}}/images/equipes/github.png" /></a>{%endif%}</h1>
<div class="tags">
	{% for techno in page.technos %}
		<a href="{{ site.baseurl }}/projets.html#{{techno}}" tag="{{techno}}">{{ techno }}</a>
	{% endfor %}
</div>
<p class="contenu">{{ content }}</p>

{% for avancement in site.categories.avancements %}
	{% if avancement.projet_nom_unique == page.nom_unique %}
<article class="tickets">
	<div class="date">{{ avancement.date | date_to_string }}</div>
	{{avancement.content}}
</article>
	{% endif %}
{% endfor %}