---
layout: default
---

<div class="text-center projet-detail bg-white">
	<h1 class="specialfont-bold text-center">{{ page.titre }}</h1>
	<div class="date">{% for date in page.dates %}{{ date }} {% endfor %}</div>
	{%if page.urlSources%}<a href="{{page.urlSources}}" target="_blank"><img src="{{site.baseurl}}/images/equipes/github.png" /></a>{%endif%}
	<p class="projet-detail-description">{{ page.description }}</p>
</div>
<div class="max-width text-center projet-detail">
	<div class="tags">
		<img src="{{site.baseurl}}/images/tags.png" alt="Tags : " /> 
		{% for tag in page.tags %}
			<a href="{{ site.baseurl }}/projets.html#{{tag}}" tag="{{tag}}">{{ tag }}</a>
		{% endfor %}
	</div>
	<div class="membres">
		<img src="{{site.baseurl}}/images/membres.png" alt="Membres : ">
		{% for prenom in page.equipe %}
			{% for membre in site.categories.equipes %}
				{% if prenom == membre.prenom %}
					<a href="{{ site.baseurl }}{{ membre.url }}">{{prenom}}</a>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
	<p class="contenu">{{ content }}</p>

	{% if page.prodlink %}
		<a class="link" href="{{page.prodlink}}">{{page.prodlink}}</a>
	{% endif %}
	{% if page.images %}
		<div class="images-gallery text-center">
			{% for image in page.images %}
				<div class="imgThumbnail" href="{{site.baseurl}}/{{image}}" style="background-image:url('{{site.baseurl}}/{{image}}');" data-imagePath="{{site.baseurl}}/{{image}}" ></div>
			{% endfor %}
		</diV>
	{% endif %}
	{% for avancement in site.categories.avancements %}
		{% if avancement.projet_nom_unique == page.nom_unique %}
	<article class="tickets">
		<div class="date">{{ avancement.date | date_to_string }}</div>
		{{avancement.content}}
	</article>
		{% endif %}
	{% endfor %}
</div>








<div id="popup-masque"></div>